body{
    background: #f2f2f2;
}
.header{
    background: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 6px;
    box-shadow: 0 2px 7px rgb(0 0 0 / 10%);
}
.logo{
    height: 50px;
}
.feed_wrapper{
    width: 1080px;
    max-width: 98%;
    margin: 40px auto;
}
.feed-item{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    background: #fff;
    padding: 15px;
    border-radius: 40px 0 0 40px;
}
.feed-item__left{
    width:  450px;
    border-radius: 40px;
    object-fit: cover;
}
.feed-item__right{
    width: 100%;
    /* min-width: 610px; */
}
.feed-item__right h3{
    font-size: 32px;
    color: #666;
}
.feed-item__right span{
    margin-top: 10px;
    color: #cecece;
    font-size: 22px;
    display: block;
}
.fixed{
    position: fixed;
    top: 0;
    left: 0;
    background: green;
    color: #fff;
}
@media(max-width:992px){
    .feed_wrapper{
        max-width: 96%;
    }
    .feed-item__right h3{
        font-size: 26px;
    }
}

@media(max-width:768px){
    .feed-item{
        flex-direction: column;
        border-radius: 15px;
    }
    .feed-item__left{
        width: 100%;
        border-radius: 16px;
    }
    .feed-item__right h3{
        font-size: 18px;
    }
    .feed-item__right span{
        font-size: 14px;
    }
}